<p>
  {{link-to "People list" "pessoas.index" }}
</p>

<h1>Person show</h1>

<p>
  <strong>Nome:</strong>
  <span>{{model.nome}}</span>
</p>

<p>
  <strong>Sobrenome:</strong>
  <span>{{model.sobrenome}}</span>
</p>
